extends layout
block content
  .container.center-block#canvas-container
    p Game ID: #{gameId}
    canvas#canvas(tabindex='0', width=1280, height=800)
      Browser not compatible with HTML5 canvas
