extends layout
block content
  .navbar.navbar-fixed-top.navbar-inverse
    a.navbar-brand#game-title Munchkin Online
  .container.center-block#canvas-container
    canvas#canvas(tabindex='0', width=1280, height=800)
      Browser not compatible with HTML5 canvas
