extends layout
block content
  //-.container.center-block#canvas-container
    //-canvas#canvas(tabindex='0', width=1280, height=800)
      //-Browser not compatible with HTML5 canvas
  .container
    a.btn.btn-primary#create-game-btn(href='/new') Create Game
