!!! 5
//if lt IE 7 ]><html class="ie ie6" lang="en">
//if IE 7 ]><html class="ie ie7" lang="en">
//if IE 8 ]><html class="ie ie8" lang="en">
// [if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]
head
  meta(charset='utf-8')
  title Munchkin Online
  meta(name='description', content='')
  meta(name='author', content='')
  // Mobile Specific
  meta(name="viewport", content="width=device-width, initial-scale=1.0")

  // CSS
  != css('lib/bootstrap.min')
  != css('lib/flat-ui.css')
  != css('app')
  
body
  .navbar.navbar-fixed-top.navbar-inverse
    a.navbar-brand#game-title Munchkin Online

  block content

  script(src='/socket.io/socket.io.js')
  != js('lib/jquery-2.0.3.min')
  != js('lib/jquery-ui-1.10.3.custom.min.js')
  != js('lib/jquery.ui.touch-punch.min.js')
  != js('lib/bootstrap-select.js')
  != js('lib/bootstrap-switch.js')
  != js('lib/flatui-checkbox.js')
  != js('lib/flatui-radio.js')
  != js('lib/jquery.tagsinput.js')
  != js('lib/jquery.placeholder.js')

  != js('lib/bootstrap.min')

  block js

| </html>
